<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CostMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_COST
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.IS_THEAGENT,	
		f.PROJECT_ID,	
		f.CREATE_DATE,	
		f.BXR,	
		f.COST_DETAIL,	
		f.MONEY,	
		f.BZ,	
		f.PROJECT_NAME,
		f.DEPARTMENT,
		f.STATUS,
		f.ACT_ID,
		f.USERID,
		f.ISJIESUAN,
		f.CREATETIME,
		f.UPDATETIME,
		f.JIEZHIRIQI,
		f.KAISHIRIQI,
		f.COST_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		IS_THEAGENT,	
		PROJECT_ID,	
		CREATE_DATE,	
		BXR,	
		COST_DETAIL,	
		MONEY,	
		BZ,	
		PROJECT_NAME,
		DEPARTMENT,
		STATUS,
		ACT_ID,
		USERID,
		ISJIESUAN,
		UPDATETIME,
		CREATETIME,
		JIEZHIRIQI,
		KAISHIRIQI,
		COST_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{IS_THEAGENT},	
		#{PROJECT_ID},	
		#{CREATE_DATE},	
		#{BXR},	
		#{COST_DETAIL},	
		#{MONEY},	
		#{BZ},	
		#{PROJECT_NAME},
		#{DEPARTMENT},
		#{STATUS},
		#{ACT_ID},
		#{USERID},
		#{ISJIESUAN},
		#{UPDATETIME},
		#{CREATETIME},
		#{JIEZHIRIQI},
		#{KAISHIRIQI},
		#{COST_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			COST_ID = #{COST_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			IS_THEAGENT = #{IS_THEAGENT},
			PROJECT_ID = #{PROJECT_ID},
			CREATE_DATE = #{CREATE_DATE},
			BXR = #{BXR},
			COST_DETAIL = #{COST_DETAIL},
			MONEY = #{MONEY},
			BZ = #{BZ},
			PROJECT_NAME = #{PROJECT_NAME},
			DEPARTMENT = #{DEPARTMENT},
			STATUS = #{STATUS},
			ACT_ID = #{ACT_ID},
			USERID = #{USERID},
			ISJIESUAN = #{ISJIESUAN},
			UPDATETIME = #{UPDATETIME},
			CREATETIME = #{CREATETIME},
			JIEZHIRIQI = #{JIEZHIRIQI},
			KAISHIRIQI = #{KAISHIRIQI},
			COST_ID = COST_ID
		where 
			COST_ID = #{COST_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.COST_ID = #{COST_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.USERID!= null and pd.USERID != ''"><!-- 关键词检索 -->
			and USERID=#{pd.USERID}
		</if>

		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
			PROJECT_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			BXR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			DEPARTMENT LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')


				)
		</if>
		<if test="pd.PROJECT_ID!= null and pd.PROJECT_ID != ''">
			and
			(
			PROJECT_ID =#{pd.PROJECT_ID}

			)
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''">
			and
			(
			STATUS =#{pd.STATUS}

			)
		</if>
		order by UPDATETIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			COST_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	

</mapper>