<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InformatizationMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_INFORMATIZATION
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.SYS_ID,	
		f.PRODUCT_NAME,	
		f.MODEL,	
		f.MANUFACTURERS,	
		f.REGISTRATION,	
		f.BUSINESS,	
		f.ACCESSORY,	
		f.STATUS,
		f.ACT_ID,
		f.ISZILIAOQQ,
		f.FUZEREN,
		f.UPDATETIME,
		f.CREATETIME,
		f.BUJIAOSHIJIAN,
		f.INFORMATIZATION_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		SYS_ID,	
		PRODUCT_NAME,	
		MODEL,	
		MANUFACTURERS,	
		REGISTRATION,	
		BUSINESS,	
		ACCESSORY,	
		STATUS,
		ACT_ID,
		ISZILIAOQQ,
		FUZEREN,
		UPDATETIME,
		CREATETIME,
		BUJIAOSHIJIAN,
		INFORMATIZATION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SYS_ID},	
		#{PRODUCT_NAME},	
		#{MODEL},	
		#{MANUFACTURERS},	
		#{REGISTRATION},	
		#{BUSINESS},	
		#{ACCESSORY},	
		#{STATUS},
		#{ACT_ID},
		#{ISZILIAOQQ},
		#{FUZEREN},
		#{UPDATETIME},
		#{CREATETIME},
		#{BUJIAOSHIJIAN},
		#{INFORMATIZATION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			INFORMATIZATION_ID = #{INFORMATIZATION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SYS_ID = #{SYS_ID},
			PRODUCT_NAME = #{PRODUCT_NAME},
			MODEL = #{MODEL},
			MANUFACTURERS = #{MANUFACTURERS},
			REGISTRATION = #{REGISTRATION},
			BUSINESS = #{BUSINESS},
			ACCESSORY = #{ACCESSORY},
			STATUS = #{STATUS},
			ACT_ID = #{ACT_ID},
			ISZILIAOQQ = #{ISZILIAOQQ},
			FUZEREN = #{FUZEREN},
			UPDATETIME = #{UPDATETIME},
			CREATETIME = #{CREATETIME},
			BUJIAOSHIJIAN = #{BUJIAOSHIJIAN},
			INFORMATIZATION_ID = INFORMATIZATION_ID
		where 
			INFORMATIZATION_ID = #{INFORMATIZATION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.INFORMATIZATION_ID = #{INFORMATIZATION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
			SYS_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			MODEL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			MANUFACTURERS LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			REGISTRATION LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			FUZEREN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			PRODUCT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')

				)
		</if>
		<if test="pd.ISSHENPI!= null and pd.ISSHENPI != ''"><!-- 关键词检索 -->
			and STATUS=#{pd.ISSHENPI}
		</if>
		order by UPDATETIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			INFORMATIZATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	

</mapper>