<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_ITEM
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.ITEM_NAME,	
		f.ITEM_MONEY,	
		f.PAY_DATE,	
		f.BACK_DATE,	
		f.BZ,	
		f.ITEM_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		ITEM_NAME,	
		ITEM_MONEY,	
		PAY_DATE,	
		BACK_DATE,	
		BZ,	
		ITEM_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ITEM_NAME},	
		#{ITEM_MONEY},	
		#{PAY_DATE},	
		#{BACK_DATE},	
		#{BZ},	
		#{ITEM_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ITEM_ID = #{ITEM_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ITEM_NAME = #{ITEM_NAME},
			ITEM_MONEY = #{ITEM_MONEY},
			PAY_DATE = #{PAY_DATE},
			BACK_DATE = #{BACK_DATE},
			BZ = #{BZ},
			ITEM_ID = ITEM_ID
		where 
			ITEM_ID = #{ITEM_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.ITEM_ID = #{ITEM_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ITEM_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	

</mapper>