<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_PROJECT
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.SYS_ID,	
		f.PROJECT_NAME,	
		f.HOSPITAL,	
		f.LIMITED_PRICE,	
		f.CORPORATE_COMPANY,	
		f.CORPORATE_BOSS,	
		f.LINKMAN,	
		f.CUSTOMER,	
		f.PRODUCT,	
		f.SUPPLIER,	
		f.CLIENT,
		f.ACCESSORY,	
		f.BUSINESS_PEOPLE,
		f.BOSS_PHONE,
		f.SELECTCOMPANY,
		f.SUPPLIER_ID,
		f.PRODUCT_ID,
		f.CLIENT_ID,
		f.AGENCY_ID,
		f.HOSPITALID,
		f.STATUS,
		f.ACT_ID,
		f.FUZEREN,
		f.BZ,
		f.CREATETIME,
		f.UPDATETIME,
		f.ZHAOBIAOYUJI,

		f.PROJECT_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		SYS_ID,	
		PROJECT_NAME,	
		HOSPITAL,	
		LIMITED_PRICE,	
		CORPORATE_COMPANY,	
		CORPORATE_BOSS,
		BUSINESS_PEOPLE,
		LINKMAN,	
		CUSTOMER,	
		PRODUCT,	
		SUPPLIER,	
		CLIENT,
		ACCESSORY,
		BOSS_PHONE,
		SELECTCOMPANY,
		SUPPLIER_ID,
		PRODUCT_ID,
		CLIENT_ID,
		AGENCY_ID,
		HOSPITALID,
		STATUS,
		ACT_ID,
		FUZEREN,
		BZ,
		CREATETIME,
		UPDATETIME,
		ZHAOBIAOYUJI,
		PROJECT_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SYS_ID},	
		#{PROJECT_NAME},	
		#{HOSPITAL},	
		#{LIMITED_PRICE},	
		#{CORPORATE_COMPANY},	
		#{CORPORATE_BOSS},	
		#{BUSINESS_PEOPLE},
		#{LINKMAN},
		#{CUSTOMER},	
		#{PRODUCT},	
		#{SUPPLIER},	
		#{CLIENT},
		#{ACCESSORY},	
		#{BOSS_PHONE},
		#{SELECTCOMPANY},
		#{SUPPLIER_ID},
		#{PRODUCT_ID},
		#{CLIENT_ID},
		#{AGENCY_ID},
		#{HOSPITALID},
		#{STATUS},
		#{ACT_ID},
		#{FUZEREN},
		#{BZ},
		#{CREATETIME},
		#{UPDATETIME},
		#{ZHAOBIAOYUJI},
		#{PROJECT_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PROJECT_ID = #{PROJECT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SYS_ID = #{SYS_ID},
			PROJECT_NAME = #{PROJECT_NAME},
			HOSPITAL = #{HOSPITAL},
			LIMITED_PRICE = #{LIMITED_PRICE},
			CORPORATE_COMPANY = #{CORPORATE_COMPANY},
			CORPORATE_BOSS = #{CORPORATE_BOSS},
			LINKMAN = #{LINKMAN},
			CUSTOMER = #{CUSTOMER},
			PRODUCT = #{PRODUCT},
			SUPPLIER = #{SUPPLIER},
			CLIENT = #{CLIENT},
			ACCESSORY = #{ACCESSORY},
			BUSINESS_PEOPLE = #{BUSINESS_PEOPLE},
			BOSS_PHONE = #{BOSS_PHONE},
			SELECTCOMPANY = #{SELECTCOMPANY},
			SUPPLIER_ID = #{SUPPLIER_ID},
			PRODUCT_ID = #{PRODUCT_ID},
			CLIENT_ID = #{CLIENT_ID},
			AGENCY_ID = #{AGENCY_ID},
			HOSPITALID = #{HOSPITALID},
			STATUS = #{STATUS},
			ACT_ID = #{ACT_ID},
			FUZEREN = #{FUZEREN},
			BZ = #{BZ},
			CREATETIME = #{CREATETIME},
			UPDATETIME = #{UPDATETIME},
			ZHAOBIAOYUJI = #{ZHAOBIAOYUJI},
			PROJECT_ID = PROJECT_ID
		where 
			PROJECT_ID = #{PROJECT_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.PROJECT_ID = #{PROJECT_ID}
	</select>


	<!-- 通过ID获取数据 -->
	<select id="findByProject" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		where
		f.SYS_ID = #{PROJIECT_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
		and
		(
			SELECTCOMPANY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			HOSPITAL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			CORPORATE_COMPANY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			CORPORATE_BOSS LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			BOSS_PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			BUSINESS_PEOPLE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			FUZEREN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			LINKMAN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			BZ LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			SYS_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')

		)
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''"><!-- 关键词检索 -->
		and
		(
			STATUS=#{pd.STATUS}
		)
		</if>
		<if test="pd.ISSHENPI!= null and pd.ISSHENPI != ''"><!-- 关键词检索 -->
			and STATUS=#{pd.ISSHENPI}
		</if>
		order by UPDATETIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PROJECT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>


	<!-- 获取委托公司数据 -->
	<select id="CompanyAll" parameterType="pd" resultType="pd" >
		select
			AGENCY_ID,COMPANY_NAME,COMPANY_BOSS
		from
			oa_agency

	</select>
	<!-- 获取产品数据 -->
	<select id="c_ProductAll" parameterType="pd" resultType="pd" >
		select
			INSTRUMENT_ID,SYS_ID,PRODUCT_NAME,VALIDITY,MODEL
		from
			oa_instrument
			where STATUS=1
	</select>
	<!-- 获取供应商数据 -->
	<select id="g_SupplierAll" parameterType="pd" resultType="pd" >
		select
			SUPPLIER_ID,SYS_ID,COMPANY_NAME
		from
			oa_supplier
		where STATUS=1
	</select>
	<!-- 获取客户公司数据 -->
	<select id="k_ClienteleAll" parameterType="pd" resultType="pd" >
		select
			*
		from
			oa_hospital
			where STATUS=1
	</select>




	<!-- 通过id委托公司获取数据 -->
	<select id="CompanyById" parameterType="pd" resultType="pd" >
		select
			AGENCY_ID,COMPANY_NAME,COMPANY_BOSS,BUSINESS_PEOPLE,LINKMAN,BOSS_PHONE
		from
			oa_agency
		where
			AGENCY_ID= #{AGENCY_ID}
	</select>
	<!-- 通过id获取产品数据 -->
	<select id="c_ProductById" parameterType="pd" resultType="pd" >
		select
			PRODUCT_NAME
		from
			oa_instrument
		where
			INSTRUMENT_ID= #{INSTRUMENT_ID}
	</select>
	<!-- 通过id获取供应商数据-->
	<select id="g_SupplierById" parameterType="pd" resultType="pd" >
		select
			COMPANY_NAME
		from
			oa_supplier
		where
			SUPPLIER_ID= #{SUPPLIER_ID}
	</select>

	<!-- 通过id获取客户公司数据 -->
	<select id="k_ClienteleById" parameterType="pd" resultType="pd" >
		select
			COMPANY_NAME
		from
			oa_customer
		where
			CUSTOMER_ID= #{CUSTOMER_ID}
	</select>
</mapper>