<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMarketMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_PROJECT_MARKET
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.SYS_ID,	
		f.SALES_CONTRACT_ID,	
		f.CLIENT_ID,	
		f.PRODUCT_INFO,	
		f.CONTRACT_PRICE,	
		f.CLAUSE,	
		f.EQUIPMENT_ADVANCE,	
		f.PREDICT_ACCOUNT_TIME,	
		f.PRACTICAL_ACCOUT_TIME,	
		f.CUMULATIVE_BILLING,	
		f.ARRIVAL_TIME,	
		f.RECEPTION_TIME,	
		f.RECEPTION,	
		f.PROJECT_NAME,
		f.SELECTCOMPANY,
		f.SELECTCOMPANYID,
		f.CLIENT_NAME,
		f.STATUS,
		f.ACT_ID,
		f.FUZEREN,
		f.SHENGCHANXUKEZHENG,
		f.JINGYINGXUKEZHENG,
		f.FARENSHOUQUAN,
		f.SHOUQUANWEITUO,
		f.ISZILIAOQQ,
		f.BZ,
		f.CREATETIME,
		f.UPDATETIME,
		f.PROJECT_MARKET_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		SYS_ID,	
		SALES_CONTRACT_ID,	
		CLIENT_ID,	
		PRODUCT_INFO,	
		CONTRACT_PRICE,	
		CLAUSE,	
		EQUIPMENT_ADVANCE,	
		PREDICT_ACCOUNT_TIME,	
		PRACTICAL_ACCOUT_TIME,	
		CUMULATIVE_BILLING,	
		ARRIVAL_TIME,	
		RECEPTION_TIME,	
		RECEPTION,	
		PROJECT_NAME,
		SELECTCOMPANY,
		SELECTCOMPANYID,
		CLIENT_NAME,
		STATUS,
		ACT_ID,
		FUZEREN,
		SHENGCHANXUKEZHENG,
		JINGYINGXUKEZHENG,
		FARENSHOUQUAN,
		SHOUQUANWEITUO,
		ISZILIAOQQ,
		BZ,
		CREATETIME,
		UPDATETIME,
		PROJECT_MARKET_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SYS_ID},	
		#{SALES_CONTRACT_ID},	
		#{CLIENT_ID},	
		#{PRODUCT_INFO},	
		#{CONTRACT_PRICE},	
		#{CLAUSE},	
		#{EQUIPMENT_ADVANCE},	
		#{PREDICT_ACCOUNT_TIME},	
		#{PRACTICAL_ACCOUT_TIME},	
		#{CUMULATIVE_BILLING},	
		#{ARRIVAL_TIME},	
		#{RECEPTION_TIME},	
		#{RECEPTION},	
		#{PROJECT_NAME},
		#{SELECTCOMPANY},
		#{SELECTCOMPANYID},
		#{CLIENT_NAME},
		#{STATUS},
		#{ACT_ID},
		#{FUZEREN},
		#{SHENGCHANXUKEZHENG},
		#{JINGYINGXUKEZHENG},
		#{FARENSHOUQUAN},
		#{SHOUQUANWEITUO},
		#{ISZILIAOQQ},
		#{BZ},
		#{CREATETIME},
		#{UPDATETIME},
		#{PROJECT_MARKET_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		PROJECT_MARKET_ID = #{PROJECT_MARKET_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SYS_ID = #{SYS_ID},
			SALES_CONTRACT_ID = #{SALES_CONTRACT_ID},
			CLIENT_ID = #{CLIENT_ID},
			PRODUCT_INFO = #{PRODUCT_INFO},
			CONTRACT_PRICE = #{CONTRACT_PRICE},
			CLAUSE = #{CLAUSE},
			EQUIPMENT_ADVANCE = #{EQUIPMENT_ADVANCE},
			PREDICT_ACCOUNT_TIME = #{PREDICT_ACCOUNT_TIME},
			PRACTICAL_ACCOUT_TIME = #{PRACTICAL_ACCOUT_TIME},
			CUMULATIVE_BILLING = #{CUMULATIVE_BILLING},
			ARRIVAL_TIME = #{ARRIVAL_TIME},
			RECEPTION_TIME = #{RECEPTION_TIME},
			PROJECT_NAME = #{PROJECT_NAME},
			RECEPTION = #{RECEPTION},
			SELECTCOMPANY = #{SELECTCOMPANY},
			SELECTCOMPANYID = #{SELECTCOMPANYID},
			CLIENT_NAME = #{CLIENT_NAME},
			STATUS = #{STATUS},
			ACT_ID = #{ACT_ID},
			FUZEREN = #{FUZEREN},
			SHENGCHANXUKEZHENG = #{SHENGCHANXUKEZHENG},
			JINGYINGXUKEZHENG = #{JINGYINGXUKEZHENG},
			FARENSHOUQUAN = #{FARENSHOUQUAN},
			SHOUQUANWEITUO = #{SHOUQUANWEITUO},
			ISZILIAOQQ = #{ISZILIAOQQ},
			BZ = #{BZ},
			CREATETIME = #{CREATETIME},
			UPDATETIME = #{UPDATETIME},
			PROJECT_MARKET_ID = PROJECT_MARKET_ID
		where
		PROJECT_MARKET_ID = #{PROJECT_MARKET_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.PROJECT_MARKET_ID = #{PROJECT_MARKET_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
			SYS_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			SELECTCOMPANY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			SALES_CONTRACT_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			FUZEREN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			CLIENT_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			CLIENT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') or
			PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')

				)
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''"><!-- 关键词检索 -->
			and
			(
			STATUS =#{pd.STATUS}

			)
		</if><if test="pd.ISSHENPI!= null and pd.ISSHENPI != ''"><!-- 关键词检索 -->
		and STATUS=#{pd.ISSHENPI}
		</if>

		order by UPDATETIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		PROJECT_MARKET_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>



	<!-- 获取项目数据 -->
	<select id="projectBidAll" parameterType="pd" resultType="pd" >
		select
			SYS_ID,PROJECT_NAME,PROJECT_ID,FUZEREN
		from
			oa_project
			where STATUS=1
	</select>

	<!-- 通过id获取项目数据 -->
	<select id="projectBidById" parameterType="pd" resultType="pd" >
		select
			PROJECT_NAME,SYS_ID,PROJECT_ID
		from
			oa_project
		where
			PROJECT_ID= #{PROJECT_ID}
	</select>


</mapper>