<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QualityMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_QUALITY
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.PROJECT_ID,	
		f.PROJECT_NAME,	
		f.FUZEREN,	
		f.XULEIHAO,	
		f.STATUS,
		f.ACT_ID,
		f.BZ,
		f.QUALITY_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		PROJECT_ID,	
		PROJECT_NAME,	
		FUZEREN,	
		XULEIHAO,	
		STATUS,
		ACT_ID,
		BZ,
		QUALITY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PROJECT_ID},	
		#{PROJECT_NAME},	
		#{FUZEREN},	
		#{XULEIHAO},	
		#{STATUS},
		#{ACT_ID},
		#{BZ},
		#{QUALITY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			QUALITY_ID = #{QUALITY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PROJECT_ID = #{PROJECT_ID},
			PROJECT_NAME = #{PROJECT_NAME},
			FUZEREN = #{FUZEREN},
			XULEIHAO = #{XULEIHAO},
			STATUS = #{STATUS},
			ACT_ID = #{ACT_ID},
			BZ = #{BZ},
			QUALITY_ID = QUALITY_ID
		where 
			QUALITY_ID = #{QUALITY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.QUALITY_ID = #{QUALITY_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
			PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			PROJECT_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			FUZEREN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件

					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			QUALITY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	

</mapper>