<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupplierMapper">

	<!--表名 -->
	<sql id="tableName">
		OA_SUPPLIER
	</sql>

	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		f.SYS_ID,
		f.COMPANY_NAME,
		f.LINKMAN,
		f.PHONE,
		f.DUTY_PARAGRAPH,
		f.OPENING_BANK,
		f.LICENCE,
		f.ACCESSORY,
		f.BZ,
		f.BANKACCOUNT,
		f.STATUS,
		f.ACT_ID,
		f.ISZILIAOQQ,
		f.FUZHEREN,
		f.JINGYINGXUKEZHENG,
		f.FARENSHOUQUAN,
		f.SHOUQUANWEITUO,
		f.SHENGCHANXUKEZHENG,
		f.CREATETIME,
		f.UPDATETIME,
		f.JINGYINGFANWEI,
		f.TONGYISHEHUIDAIMA,
		f.ERLEIBEIANHAO,
		f.BUJIAOSHIJIAN,
		f.SUPPLIER_ID
	</sql>

	<!-- 字段用于新增 -->
	<sql id="Field2">
		SYS_ID,
		COMPANY_NAME,
		LINKMAN,
		PHONE,
		DUTY_PARAGRAPH,
		OPENING_BANK,
		LICENCE,
		ACCESSORY,
		BZ,
		BANKACCOUNT,
		STATUS,
		ACT_ID,
		ISZILIAOQQ,
		FUZHEREN,
		JINGYINGXUKEZHENG,
		FARENSHOUQUAN,
		SHOUQUANWEITUO,
		SHENGCHANXUKEZHENG,
		CREATETIME,
		UPDATETIME,
		JINGYINGFANWEI,
		TONGYISHEHUIDAIMA,
		ERLEIBEIANHAO,
		BUJIAOSHIJIAN,
		SUPPLIER_ID
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SYS_ID},
		#{COMPANY_NAME},
		#{LINKMAN},
		#{PHONE},
		#{DUTY_PARAGRAPH},
		#{OPENING_BANK},
		#{LICENCE},
		#{ACCESSORY},
		#{BZ},
		#{BANKACCOUNT},
		#{STATUS},
		#{ACT_ID},
		#{ISZILIAOQQ},
		#{FUZHEREN},
		#{JINGYINGXUKEZHENG},
		#{FARENSHOUQUAN},
		#{SHOUQUANWEITUO},
		#{SHENGCHANXUKEZHENG},
		#{CREATETIME},
		#{UPDATETIME},
		#{JINGYINGFANWEI},
		#{TONGYISHEHUIDAIMA},
		#{ERLEIBEIANHAO},
		#{BUJIAOSHIJIAN},
		#{SUPPLIER_ID}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
			SUPPLIER_ID = #{SUPPLIER_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			SYS_ID = #{SYS_ID},
			COMPANY_NAME = #{COMPANY_NAME},
			LINKMAN = #{LINKMAN},
			PHONE = #{PHONE},
			DUTY_PARAGRAPH = #{DUTY_PARAGRAPH},
			OPENING_BANK = #{OPENING_BANK},
			LICENCE = #{LICENCE},
			ACCESSORY = #{ACCESSORY},
			BZ = #{BZ},
			BANKACCOUNT = #{BANKACCOUNT},
			STATUS = #{STATUS},
			ACT_ID = #{ACT_ID},
			ISZILIAOQQ = #{ISZILIAOQQ},
			FUZHEREN = #{FUZHEREN},
			JINGYINGXUKEZHENG = #{JINGYINGXUKEZHENG},
			FARENSHOUQUAN = #{FARENSHOUQUAN},
			SHOUQUANWEITUO = #{SHOUQUANWEITUO},
			SHENGCHANXUKEZHENG = #{SHENGCHANXUKEZHENG},
			CREATETIME = #{CREATETIME},
			UPDATETIME = #{UPDATETIME},
			JINGYINGFANWEI = #{JINGYINGFANWEI},
			TONGYISHEHUIDAIMA = #{TONGYISHEHUIDAIMA},
			ERLEIBEIANHAO = #{ERLEIBEIANHAO},
			BUJIAOSHIJIAN = #{BUJIAOSHIJIAN},
			SUPPLIER_ID = SUPPLIER_ID
		where
			SUPPLIER_ID = #{SUPPLIER_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">

		select
		d7.BIANMA BIANMA7,
		d7.NAME DNAME7,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		left join
		<include refid="dicTableName"></include> d7
		on f.LICENCE = d7.BIANMA
		where f.SUPPLIER_ID = #{SUPPLIER_ID}


	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			d7.BIANMA BIANMA7,
			d7.NAME DNAME7,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
			left join
			<include refid="dicTableName"></include> d7
			on f.LICENCE = d7.BIANMA
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
			f.SYS_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.COMPANY_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.LINKMAN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.OPENING_BANK LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.FUZHEREN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.BANKACCOUNT LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.BZ LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			f.SUPPLIER_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')


			)
		</if>

		<if test="pd.ISSHENPI!= null and pd.ISSHENPI != ''"><!-- 关键词检索 -->
			and STATUS=#{pd.ISSHENPI}
		</if>

		order by UPDATETIME DESC
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		d7.BIANMA BIANMA7,
		d7.NAME DNAME7,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		left join
		<include refid="dicTableName"></include> d7
		on f.LICENCE = d7.BIANMA
		where 1=1

	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
			SUPPLIER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!-- 修改 -->
	<update id="editTableName" parameterType="pd">
		update
			act_hi_procinst
		set
		TABLENAME =  #{TABLENAME}
		where
		PROC_INST_ID_ = #{ACT_ID}
	</update>


	<!--接口查询-->

	<!-- 列表(全部) -->
	<select id="getListAll" parameterType="pd" resultType="pd">
		select
		d7.BIANMA BIANMA7,
		d7.NAME DNAME7,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		left join
		<include refid="dicTableName"></include> d7
		on f.LICENCE = d7.BIANMA
		where 1=1 and STATUS=#{STATUS}

	</select>

	<!-- 通过ID获取数据 -->
	<select id="getById" parameterType="pd" resultType="pd">

		select
		d7.BIANMA BIANMA7,
		d7.NAME DNAME7,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		left join
		<include refid="dicTableName"></include> d7
		on f.LICENCE = d7.BIANMA
		where f.SYS_ID = #{SYS_ID}


	</select>

</mapper>